<ion-view view-title="<img class='title-image' align='left' src='./img/logo-roma.png'>&nbsp;<h1 class=title>Cotação-Peças</h1>">
  <ion-content>
    <div class="list box">
     
      <label class="item item-input">
        <span class="input-label"><strong>Nome</strong></span>
        <input type="text" ng-model="form.nome">
      </label>
      <label class="item item-input">
        <span class="input-label"><strong>E-mail</strong></span>
        <input type="email" ng-model="form.email">
      </label>
      <label class="item item-input">
        <span class="input-label"><strong>Telefone</strong></span>
        <input type="tel" ng-model="form.telefone" mask='(99)9999-9999'>
      </label>
      <label class="item item-select">
        <span class="input-label"><strong>Loja</strong></span>
       <select ng-model="form.horario">
         <option selected="selected" value="">SELECIONE</option>
          <option value="GUTIERREZ">GUTIERREZ</option>
          <option value="CIDADE NOVA">CIDADE NOVA</option>
          <option value="DONA CLARA">DONA CLARA</option>
          <option value="CONTAGEM">CONTAGEM</option>
          <option value="VIA EXPRESSA DE CONTAGEM">VIA EXPRESSA DE CONTAGEM</option>
       </select>
      </label>
      <label class="item item-select">
        <span class="input-label"><strong>Modelo</strong></span>
        <select ng-model="form.modelo">
            <option selected="selected" value="">SELECIONE:</option>
            <option value="GRAND SIENA">GRAND SIENA</option>
            <option value="SIENA">SIENA</option>
            <option value="NOVO LINEA">NOVO LINEA</option>
            <option value="WEEKEND">WEEKEND</option>
            <option value="IDEA">IDEA</option>
            <option value="DOBLÒ">DOBLÒ</option>
            <option value="FREEMONT">FREEMONT</option>
            <option value="NOVO FIORINO">NOVO FIORINO</option>
            <option value="DUCATO CARGO">DUCATO CARGO</option>
            <option value="DUCATO MULTI">DUCATO MULTI</option>
            <option value="UNO FURGÃO">UNO FURGÃO</option>
            <option value="DOBLÒ CARGO">DOBLÒ CARGO</option>
            <option value="DUCATO PASSAGEIRO">DUCATO PASSAGEIRO</option>
            <option value="NOVA STRADA">NOVA STRADA</option>
            <option value="NOVO UNO">NOVO UNO</option>
            <option value="Uno">UNO</option>
            <option value="Novo Palio Fire">NOVO PALIO FIRE</option>
            <option value="Novo Palio">NOVO PALIO</option>
            <option value="NOVO PUNTO">NOVO PUNTO</option>
            <option value="500">500</option>
            <option value="500 Abarth">500 ABARTH</option>
            <option value="Novo Bravo">NOVO BRAVO</option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label"><strong>Mensagem</strong></span>
        <textarea ng-model="form.mensagem"></textarea>
      </label>
    </div>
    <button class="button button-full button-dark">
        Enviar Cotação
    </button>
 </ion-content>
</ion-view>