<ion-view view-title="<img class='title-image' align='left' src='./img/logo-roma.png'>&nbsp;<h1 class=title>Redes Sociais</h1>">
	<ion-content>
		<div class="card">
			<div class="item  item-divider item-text-wrap">
			  Acompanhe a Roma-MG nas redes sociais.
			</div>
		</div>
		<div class="list card">
			
			<a  class="item item-icon-left" href="#" 
			    onclick="window.open('https://www.facebook.com/RomaFiatMg', '_system', 'location=yes'); return false;">
			<i class="ion-social-facebook"></i>&nbsp;Facebook
			</a>
			<a  class="item item-icon-left" href="#"
			  onclick="window.open('https://twitter.com/romafiat', '_system', 'location=yes'); return false;">
			  <i class="ion-social-twitter"></i>&nbsp;Twitter
			</a>
			<a  class="item item-icon-left" href="#"
				onclick="window.open('https://instagram.com/romafiatmg', '_system', 'location=yes'); return false;">
				<i class="ion-social-instagram"></i>&nbsp;Instagram
			</a>
		</div>
 	</ion-content>
</ion-view>
